/* Color book */
:root {
  --color-charcoal-011: #161c24;
  --color-charcoal-021: #283342;
  --color-charcoal-046: #73767a;
  --color-white: #fff;
  --color-alarm-039: #bd0e0a;
  --color-alarm-049: #ec110d;

  --font-family-sans: 'Muli', sans-serif;
  --font-family-serif: 'Yeseva One', serif;

  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;
}

/* Typography */
@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-regular);
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
    url('./assets/fonts/muli/Muli-Regular.woff'),
    url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-bold);
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
    url('./assets/fonts/muli/Muli-Bold.woff'),
    url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-black);
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
    url('./assets/fonts/muli/Muli-Black.woff'),
    url('./assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-regular);
  src: url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-display: swap;
  font-size: 1.6rem;
  color: var(--color-charcoal-021);
  background-color: var(--color-white);
}

/* Typography Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
  font-size: 24px;
  line-height: 24px;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  font-size: 16px;
  line-height: 16px;
}

.t-display {
  font-family: var(--font-family-serif);
  font-weight: var(--weight-regular);
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -2px;
}

.t-body {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-regular);
  font-size: 14px;
  line-height: 18px;
}

.t-title {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
  font-size: 28px;
  line-height: 32px;
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-weight: var(--weight-regular);
  font-size: 120px;
  line-height: 120px;
  letter-spacing: -2px;
}
