/* Typography */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
    url('./assets/fonts/muli/Muli-Regular.woff'),
    url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
    url('./assets/fonts/muli/Muli-Bold.woff'),
    url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
    url('./assets/fonts/muli/Muli-Black.woff'),
    url('./assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

:root {
  /* Colorbook */
  --color-charcoal-011: #161c24;
  --color-charcoal-021: #283342;
  --color-charcoal-046: #73767a;
  --color-white: #fff;
  --color-alarm-049: #ec110d;
  --color-alarm-039: #bd0e0a;
  --color-slate-blue-050: #4878b8;

  /* Spacing */
  --space-eighth: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  /* Typography */
  --font-family-sans: 'Muli', sans-serif;
  --font-family-serif: 'Yeseva One', serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* Design elements */
  --transition: 300ms ease-in-out;
  --border-radius-default: 0.4rem;
  --border-radius-large: 0.8rem;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  background-color: var(--color-white);
}

/* Type Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 2.4rem;
  font-weight: var(--weight-black);
  line-height: 1;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1;
}

.t-link {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1;
  color: var(--color-charcoal-021);
  transition: var(--transition) color, var(--transition) outline-color;
  outline: 0.4rem solid transparent;
}
.t-link:hover {
  color: var(--color-charcoal-046);
}
.t-link:focus {
  outline-color: var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}

.t-display {
  font-family: var(--font-family-serif);
  letter-spacing: -0.2rem;
}
@media (max-width: 575px) {
  .t-display {
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
@media (min-width: 576px) {
  .t-display {
    font-size: 8rem;
    line-height: 1.2;
  }
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.286;
}

.t-title {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
}
@media (max-width: 575px) {
  .t-title {
    font-size: 2.4rem;
    line-height: 1.167;
  }
}
@media (min-width: 576px) {
  .t-title {
    font-size: 2.8rem;
    line-height: 1.143;
  }
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-size: 12rem;
  line-height: 1;
  letter-spacing: -0.2rem;
}

.t-copy-fluid {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  line-height: 1;
}
@media (max-width: 575px) {
  .t-copy-fluid {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .t-copy-fluid {
    font-size: 1.6rem;
  }
}

/* Screen Reader Only */
.t-hidden,
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Skip Nav */
.skip-nav {
  padding: var(--space-default);
  display: inline-block;
  position: absolute;
  color: var(--color-white);
  background-color: var(--color-charcoal-021);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  transition: var(--transition) background-color, var(--transition) transform;
  outline: 0.4rem solid transparent;
}
@media (max-width: 575px) {
  .skip-nav {
    transform: translate(var(--space-default), calc(var(--space-quad) * -1));
  }
}
@media (min-width: 576px) {
  .skip-nav {
    transform: translate(var(--space-oct), calc(var(--space-quad) * -1));
  }
}
.skip-nav:hover {
  background-color: var(--color-charcoal-011);
}
.skip-nav:focus {
  outline-color: var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}
@media (max-width: 575px) {
  .skip-nav:focus {
    transform: translate(var(--space-default), var(--space-default));
  }
}
@media (min-width: 576px) {
  .skip-nav:focus {
    transform: translate(var(--space-oct), var(--space-double));
  }
}

/* Header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header {
    padding-right: var(--space-default);
    padding-left: var(--space-default);
    min-height: var(--space-quad);
  }
}
@media (min-width: 1025px) {
  .header {
    padding-right: var(--space-oct);
    padding-left: var(--space-oct);
    min-height: var(--space-oct);
  }
}

.header__center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Brand */
.brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: var(--transition) color, var(--transition) outline-color;
  outline: 0.4rem solid transparent;
}
.brand:hover {
  color: var(--color-charcoal-046);
}
.brand:focus {
  outline-color: var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}

/* Search */
.button-icon {
  padding: 0;
  min-width: 4.8rem;
  min-height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--color-charcoal-021);
  transition: var(--transition) color, var(--transition) outline-color;
  cursor: pointer;
  outline: 0.4rem solid transparent;
}
.button-icon:hover {
  color: var(--color-charcoal-046);
}
.button-icon:hover .button-icon__icon {
  fill: var(--color-charcoal-046);
}
.button-icon::-moz-focus-inner {
  border: 0;
}
.button-icon:focus {
  outline-color: var(--color-slate-blue-050);
  outline-offset: 0.2rem;
}

.button-icon__icon {
  fill: var(--color-charcoal-021);
  transition: var(--transition) fill;
}

.search {
  display: none;
  position: relative;
}
.search--is-open {
  display: block;
  position: absolute;
  width: calc(100% - var(--space-default) - var(--space-default));
}

.search__input {
  padding-right: 6.4rem;
  width: 100%;
  height: 4.8rem;
  color: var(--color-charcoal-021);
  border: none;
  border-bottom: 0.2rem solid var(--color-charcoal-021);
  transition: var(--transition) border-bottom-color;
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-webkit-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:-ms-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:focus {
  border-bottom-color: var(--color-slate-blue-050);
  border-bottom-width: 0.4rem;
  transform: translateY(0.1rem);
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
}

/* Nav */
@media (max-width: 786px) {
  .nav__center-links {
    display: none;
  }
}
@media (min-width: 787px) and (max-width: 1199px) {
  .nav__center-links {
    margin-left: var(--space-quad);
  }
}

@media (min-width: 787px) {
  .nav__center-items {
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .nav__center-items {
    margin-left: var(--space-oct);
  }
}

.nav__center-item {
  list-style: none;
}
.nav__center-item:not(:first-child) {
  margin-left: var(--space-double);
}

/* Menu */
@media (max-width: 575px) {
  .menu-trigger__icon-small {
    margin-left: var(--space-half);
  }
}
@media (min-width: 576px) {
  .menu-trigger__icon-small {
    display: none;
  }
}

@media (max-width: 575px) {
  .menu-trigger__icon-large {
    display: none;
  }
}
@media (min-width: 576px) {
  .menu-trigger__icon-large {
    margin-left: var(--space-default);
  }
}

.menu {
  display: none;
}
@media (max-width: 575px) {
  .menu {
    padding-top: 0.6rem;
    padding-right: var(--space-double);
    padding-left: var(--space-double);
  }
}
.menu--is-open {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  box-shadow: -0.4rem 0 4rem 0 rgba(40, 51, 66, 0.3);
  overflow-y: auto;
}
@media (max-width: 575px) {
  .menu--is-open {
    width: 28.8rem;
  }
}
@media (min-width: 576px) {
  .menu--is-open {
    width: 33.4rem;
  }
}

.menu__close {
  margin-bottom: var(--space-quad);
}

.menu__close__icon {
  margin-right: var(--space-default);
}

.menu__items {
  margin-bottom: var(--space-quad);
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: var(--space-double);
}

.menu__socials {
  display: flex;
  flex-direction: row;
}

.menu__social {

}

.menu__social-cta {
  color: var(--color-charcoal-046);
}

.menu__overlay {
  display: none;
}
.menu__overlay--is-shown {
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-charcoal-021);
  border: none;
  opacity: 0.4;
}

