/* Color book */
:root {
  --color-charcoal-011: #161c24;
  --color-charcoal-021: #283342;
  --color-charcoal-046: #73767a;
  --color-white: #fff;
  --color-alarm-039: #bd0e0a;
  --color-alarm-049: #ec110d;

  --font-family-sans: 'Muli', sans-serif;
  --font-family-serif: 'Yeseva One', serif;

  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  --space-eight: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  --transition: 300ms ease-in-out;
}

/* Typography */
@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-regular);
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
    url('./assets/fonts/muli/Muli-Regular.woff'),
    url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-bold);
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
    url('./assets/fonts/muli/Muli-Bold.woff'),
    url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-black);
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
    url('./assets/fonts/muli/Muli-Black.woff'),
    url('./assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-display: swap;
  font-style: normal;
  font-weight: var(--weight-regular);
  src: url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
    url('./assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-display: swap;
  font-size: 1.6rem;
  color: var(--color-charcoal-021);
  background-color: var(--color-white);
}

/* Typography Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.t-display {
  font-family: var(--font-family-serif);
  font-weight: var(--weight-regular);
  font-size: 8rem;
  line-height: 9.6rem;
  letter-spacing: -0.2rem;
}

.t-body {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-regular);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.t-title {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-black);
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-weight: var(--weight-regular);
  font-size: 12rem;
  line-height: 12rem;
  letter-spacing: -0.2rem;
}

.screen-reader-only {
  padding: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  clip-path: inset(0rem 0rem 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Header */
.header {
  padding-right: var(--space-oct);
  padding-left: var(--space-oct);
  min-height: var(--space-oct);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: var(--transition) color;
}
.header__brand:hover,
.header__brand:focus {
  color: var(--color-charcoal-046);
}
.header__brand:focus {
  outline: 0.2rem solid var(--color-charcoal-046);
  outline-offset: 0.2rem;
}

/* Search */
.search-trigger {
  padding: 0;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-trigger:hover .search-trigger__icon {
  fill: var(--color-charcoal-046);
}

.search-trigger__icon {
  fill: var(--color-charcoal-021);
  transition: var(--transition);
}

